include mixins/progressBar

doctype html
html
	head 
		title Hi there!
		link(rel="stylesheet", href="css/app.css")
		script(defer, src="index.js" type="module") 
	body
		//- +progressBar
		form#sf__form
			div.sf__step-container
				div.input-group
					label(for="name") Name
					input#name.sf__input(type="text" name="name")
				div.input-group
					label(for="age") Age 
					input#age.sf__input(type="text" name="age") 
			div.sf__step-container
				div.input-group
					label(for="address") Address
					input#address.sf__input(type="text" name="address")
				div.input-group
					label(for="phone") Phone 
					input#phone.sf__input(type="tel" name="phone") 
			div.sf__step-container
				div.input-group
					label(for="message") Message
					textarea#message.sf__input(name="message", cols="30", rows="10")  