body {
  background-color: red;
}

.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

.none {
  display: none;
}
.block {
  display: block;
}

#sf__progress-bar-container {
  position: relative;
  width: 200px;
  height: 12px;
}

.sf__progress-bar-outer,
.sf__progress-bar-inner {
  position: absolute;
  height: 100%;
  border-radius: 8px;
}

.sf__progress-bar-outer {
  background-color: aqua;
  width: 100%;
}

.sf__progress-bar-inner {
  background-color: green;
  width: 0;
  transition: width 0.4s ease-in-out;
}